body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}
html {
	scroll-behavior: smooth;
}

.ps-navbar-top {
	display : flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	width: 100%;
}
.ps-flex{
	display: flex;
	width: 100%;
	align-items: center;
}
.ps-header-box{
	padding: 10px;
	align-items: center;
	/* justfy-content: center; */
	width: 100%;
	padding: 5px;
}
.ps-funcionamento{
	font-family: 'Ubuntu Condensed', sans-serif;
	margin: 5px;
	margin-left: 30px;
	padding: 0px;
}
.ps-icons{
	color : #cbcbcb;
	display: flex;
	margin: 5px;
	margin-left: auto;
	margin-right: 20px;
	justify-content: space-around;
	width: 200px;
}
a:-webkit-any-link {
    text-decoration: none;
}
.ps-icons a {
	color: #cbcbcb;
	font-size: 1.5em;
	/*transition: 0.5s;*/
}
.ps-icons a:hover {
	color: #cea135;
}
.ps-gray{
	background-color: #3B3C42;
	color: #cbcbcb;
}
.ps-black{
	background-color: #202124;
	color: #cbcbcb;
}
.ps-left-column{
	display: flex;
	margin: 5px;
	margin-left: 90px;
	padding: 0px;
}
.ps-right-column{
	display: flex;
	margin: 5px;
	margin-right: 40px;
	margin-left: auto;
	justify-content: space-around;
	width: auto;
	padding: 0px;
	font-family: "Ubuntu Condensed", sans-serif;
}
.ps-banner-img{
	display: flex;
	justify-content: center;
}
.ps-icon{
	font-size: 2em;
	padding-left: 10px;
	padding-right: 10px;
}
.ps-phone{
	font-size: 13px;
}
.ps-banner-image img {
	width: 150px;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
#menubar{
	width: 100%;
	height: auto;
	/*background-color: #CCC;*/
}
#menubar div{
	width: 100%;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}
.ps-dropdown{
	background-color: #202124;
}

.ps-droplist{
	display: none;
	background-color: rgba(0,0,0,0);
}
.ps-margin{
	margin: 5px;
}
.ps-margin:hover{
	cursor: pointer;
}
.ps-flexible-links{
	display: flex;
}
.ps-display-none{
	display: none !important;
}
.ps-display-flex{
	display: flex !important;
}
.ps-dots {
	padding: 20px;
}
#menubar-symbol{
	font-size: 20px;
	position: absolute;
	right: 40px;
	top: 80px;
}

/* Hero section styles */
.ps-hero-section {
	margin-top: 120px;
	background-image: url(../images/backgrounds/burger-bg-example3.jpg);
	padding: 100px 0px 100px 0px;
	/*padding: 100px;*/
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ps-heading{
	margin: 0px;
	margin-left: 10%;
	padding: 0px;
}

.ps-top-heading {
	padding: 1px 20px;
	background-color: #202124;
	color: #cbcbcb;
	max-width: 214px;
	border-radius: 5px;
}
.ps-bottom-heading {
	padding: 1px 20px;
	background-color: #cea135;
	color: #202124;
	margin-top: 15px;
	max-width: 107px;
	border-radius: 5px;
}

.ps-features-section {
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: #cea135;
	opacity: 1.0em;
	color: #202124;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu Condensed", sans-serif;
	box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}
.ps-columns-wrapper {
	width: 1000px;
	display: flex;
	justify-content: space-between;
}
.ps-column {
	padding: 20px;
	/*margin: 42px;*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 5px solid transparent;
	border-radius: 10px;
	/*transition: 1s;*/
}
.ps-column p{
	margin: 10px;
}
.ps-column:hover {
	border-bottom: 5px solid #202124;
}
.ps-column :nth-child(1) {
	font-size: 3em;
}
.ps-column :nth-child(2) {
	font-size: 1.5em;
	font-weight: 900;
	height: 50px;
	/*transition: 1s;*/
}
.ps-column :nth-child(2):hover {
	letter-spacing: 1px;
}
.ps-column :nth-child(3) {
	letter-spacing: 2px;
}

.ps-quotation-mark{
	margin-top: 0px;
	font-weight: bold;
	font-size: 50px;
	color: black;
	font-family: "Ubuntu Condensed", sans-serif;
}
.ps-quote-text{
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 20px;
	text-align: justify;
	margin-top: -65px;
	padding: 20px;
	color: black;
} 

.quoteblock-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 20px;
}
.quote-box{
	font-family: "Ubuntu Condensed", sans-serif;
	margin-top: -20px;
	padding-top: -30px;
	border-radius: 10px;
	background-color: #cea135;
	margin-top: 25px;
	color: black;
	width: 100%;
	max-width: 23%;
	padding : 20px;
	display: flex;
	flex-direction: row;
	box-shadow: 2px 2px 2px 2px #3B3C42;
}
@media (max-width: 300px){
    html,body {
        overflow-x: hidden;
        width: 100%;
    }
	.ps-left-column{
		display: inline-flex;
		flex-direction: column;
		position: relative;
	}
	.ps-hero-section{
		margin-top: 190px;
	}
	.cardbox > .card > .container h4{
		font-size: 13px;
	}
	.cardbox > .card > .container p{
		font-size: 12px;
	}
	.cardbox > .card > .container a{
		font-size: 12px;
	}
	.footer > .links-wrapper {
		justify-content: space-around;	
		flex-direction: column;
		padding-left: 200px;
		
	}
	.footer > .links-wrapper > .nav-link {
		font-size: 18px;
		padding: 10px;
	}
	.dropdown-content {
		margin-left: 60px;
		position: absolute;
	}
	.footer > .social-media-icons-wrapper {
		flex-direction: row;
		max-width: 150px;
    }
    

}
@media (max-width: 585px){
	.quoteblock-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.quote-box{
		max-width: 80%;
	}
	.cardbox > .card {
		max-width: 80%;
	}
	.ps-left-column{
		display: flex;
		margin: 5px;
		margin-left: 30px;
	}

	.ps-columns-wrapper{
		flex-direction: column;
	}
	.ps-column{
		max-width: auto;
		padding: 0px !important;
		margin: 0px !important;
		border-bottom: none !important;
		/*border-radius: 10px;*/
	}
	.ps-column p{
		padding: 0px !important;
		margin: 0px !important;
	}
	.ps-delete{
		display: none;
		max-width: 180px;
	}
	.cardbox > .card > .container {
		max-width:200%;
	}
}
@media (max-width: 850px){
	.ps-quotation-mark{
		font-size: 35px;
	}
	.ps-quote-text{
		font-size: 15px;
		margin-top: -65px;
		padding: 20px;
	}
	#flexible{
		flex-direction: column;
	}
	/* .ps-left-column{
		display: flex;
		margin: 5px;
		margin-left: 30px;
	} */
	.ps-right-column{
		display: flex;
		margin: 5px;
		justify-content: center;
	}
	.ps-todo{
		display: none !important;
	}
	#menubar{
		flex-direction: column;
	}
	#menubar-symbol{
		display: block;
	}
	.ps-column :nth-child(1) {
		font-size: 1.5em;
	}
	.ps-column :nth-child(2) {
		font-size: 1em;
		font-weight: 900;
		height: 50px;
		/*transition: 1s;*/
	}
	.ps-column {
		padding: 10px;
		margin: 21px;
		text-align: center;
		border-bottom: 5px solid transparent;
		border-radius: 10px;
		/*transition: 1s;*/
	}
	.sponsors {
		display: none;
	}

	.footer > .logo-footer {
		display: none;
    }
    .footer > .links-wrapper {
        display: none;
    }
}
@media (min-width: 851px){
	#flexible{
		flex-direction: row;
	}
	#menubar{
		display: flex !important;
	}
	#menubar-symbol{
		display: none;
	}
}

/* Common nav styles */
.navigation-wrapper {
	height: 10px;
	/* Flexbox container */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px;
	position: sticky;
	top: 0;
	z-index: 1000;
	width: 100%;


}

/* Left column styles */
.navigation-wrapper > .left-column {
	display: flex;
	align-items: center;
}



.navigation-wrapper > .left-column > .icon i {
	font-size: 2em;
	padding: 40px;
	margin-right: -30px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #858585;
	font-size: 0.8em;
}
.navigation-wrapper > .left-column > .banner-image {
	display: flex;
	justify-content: center;
}

.navigation-wrapper > .left-column > .banner-image img {
	width: 150px;
	height: 100%;
}
.navigation-wrapper > .left-column > .phone {
	margin-right: 20px;
}

/* Center column styles */
.navigation-wrapper > .center-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 42px;
	width: 300px;
}


.links-wrapper {
	display: inline-flex;
}

.links-wrapper > .nav-link {
	width: 70px;
	text-align: center;
}

.links-wrapper > .nav-link a {
	font-family: "Ubuntu Condensed", sans-serif;
	color: #cbcbcb;
	text-decoration: none;
	/*transition: 0.5s;*/
}

.links-wrapper > .nav-link a:hover {
	color: #cea135;
	letter-spacing: 2px;
}



.navigation-wrapper > .center-column {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 42px;
	width: 300px;

}
.navigation-wrapper > .center-column > .menu-icon {
	display: none;
}



.btn {
	background-color: #cea135;
	color: #202124;
	font-size: 1.25em;
	padding: 10px 25px;
	border: 1px solid #cea135;
	border-radius: 2px;
	outline: none;
	/*transition: 0.3s;*/
}

.btn:active {
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}

.center-btn-wrapper {
	display: flex;
	justify-content: center;
}



/* SPONSORS SETTINGS */

.sponsors{
	font-family: "Ubuntu Condensed", sans-serif;
	height: auto;
	width: 100%;
	padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.sponsors > .sponsors-text {
	margin-left: 10px;
	font-size: 20px;
}

.sponsors > .sponsors-images {
    width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.div-logo{
	padding: 20px;
	margin: 10px;
	display: flex;
	align-items: center;
}
.logo-sponsors{
	width: 60%;
} 

.iframe {
	width: 100%;
}
.iframe iframe {
	width: 100%;
	height: 450px;
	scroll-behavior: unset;
	border-style: none;
	
}


/* CARDBOX SETTINGS */
.cardbox {
	max-width: 100%;
	height: auto;
	background-color: #717171;
	font-family: "Ubuntu Condensed", sans-serif;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;    
}

.cardbox > .cardbox-title {
	font-size: 20px;
	text-align: center;
	display: block;
	background-color: #E0E0E0;
	border-radius: 25px;
	height: 60px;
	width: 30%;
	padding: 20px;
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Roboto Slab', serif  
}
.cardbox > .cardbox-title p {
	position: relative;
	margin-top: -5px;
}
.cardbox > .card {
	flex: 0 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	/*transition: 0.3s;*/
	width: 220px;
	height: 360px;
	padding: 15px;
	margin: 15px;
	background-color: burlywood;
	border-radius: 25px;
	text-align: center;
}
.cardbox > .card img{
	width: 83%;
	height: 40%;
	size: 50px;
	border-radius: 20px;

}
.cardbox > .card > .container > .card-link{
	text-decoration: none;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 2px 16px;
}
/*FOOTER SETTINGS */

.footer {
	background-color: #202124;
	color: #cbcbcb;
	font-family: "Ubuntu Condensed", sans-serif;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	margin-top: -4px;
	width: 100%;
}
.footer > .logo-footer {
    margin-top: 20px;
    display: none;
}
.footer > .logo-footer img {
	width: 160px;
	height: 100%;
	/* filter: brightness(50%); */
    opacity: 0.6;
    /* margin-top: 10px; */
}

.footer > .footer-phone-hours span {
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
	letter-spacing: 2px;
}

.footer > .footer-phone-hours > .hours {
	font-size: 0.8em;
	color: #cea135;
	text-transform: uppercase;
}

.footer > .links-wrapper {
	margin-top: 40px;
	margin-bottom: 40px;
    width: 290px;
    display: none;
}
.footer > .links-wrapper {
	display: none;
}

.footer > .links-wrapper > .nav-link {
	width: 80px;
	text-align: center;
}

.footer > .links-wrapper > .nav-link a {
	font-family: "Ubuntu Condensed", sans-serif;
	color: #cbcbcb;
	text-decoration: none;
	/*transition: 0.5s;*/
}

.footer >.links-wrapper > .nav-link a:hover {
	color: #cea135;
	letter-spacing: 2px;
}


.footer > .social-media-icons-wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 300px;
	display: flex;
	justify-content: space-around;
}

.footer > .social-media-icons-wrapper a {
	font-size: 1.5em;
	color: #cbcbcb;
	/*transition: 0.5s;*/
}

.footer > .social-media-icons-wrapper a:hover {
	color: #cea135;
}

.footer > .copyright-wrapper {
	margin-bottom: 42px;
	font-size: 0.7em;
    color: #858585;
    text-align: center;
}

.footer > .contact-hours-wrapper {
	display: inline-block;
	justify-content: space-between;
	padding: 10px;
}

.footer > .contact-hours-wrapper > .address-wrapper {
	text-decoration: none;
	font-family: 'Ubuntu Condensed', sans-serif;
	float: right;
}

.footer > .contact-hours-wrapper > .address-wrapper {
	color: #858585;
	text-decoration: none;
	font-size: 0.9em;
	transition: 0.5s;
	float: right;
	margin-left: 20px;
}
.footer > .contact-hours-wrapper > .address-wrapper:hover{
	color: #cbcbcb;
}

.footer > .contact-hours-wrapper > .contact-icon {
	font-size: 2em;
	color : #858585;
	float: left;
}

.footer > .contact-hours-wrapper > .contact-icon:hover{
	color: #cbcbcb;
}


.slideshow {
	width: 100%;
	height: auto;
	background-color: #202124;
	font-family: "Ubuntu Condensed", sans-serif;
}

.slideshow > .slideshow-text {
	padding: 30px;
	color: #858585;
	text-align: left;
}
.slideshow > .slideshow-container > .mySlides.fade {
	text-align: center;
	justify-content: center;
}

.slideshow > .slideshow-container > .mySlides img{
	width: 100%;
	max-width: 700px;
	align-items: center;

	border-radius: 5px;
	/*border: 6px ridge #858585;*/
	box-shadow: 6px 6px 6px black;
}   
.slideshow > .slideshow-container > .mySlides > .text {
	font-size: 25px;
	width: 100%;
	font-weight: bold;
	color: #bbb;
	/*text-shadow: 2px 2px 4px #cecece;   */
}
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 90%;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	/*transition: background-color 0.6s ease;*/
}

.active, .dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.spacer60 {
	height: 60px;
	width: 100%;
}

.spacer10 {
	height: 10px;
	width: 100%;
}

.anchor-link {
	text-decoration: none;
}

.anchor-link:focus {
	outline: none;
}

.anchor-link h1::after {
	font-family: "Font Awesome 5 Free";
	content: " \f0c1";
	font-weight: 900;
}
.page-container {
	display: flex;
	justify-content: center;
}

.page-container > .content-wrapper {
	width: 1000px;
}

.page-container > .content-wrapper > #chef {
	width: 350px;
	margin: 23px 40px 20px 0px;
	float: left;
	border: 1px solid #cea135;
}

.page-container > .content-wrapper p {
	letter-spacing: 1px;
	line-height: 30px;
}

.skewed-header {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.skewed-header > .header-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	transform: skewY(-6deg);
	transform-origin: top left;
	filter: brightness(50%);
}

.skewed-header > .skewed-header-wrapper {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
	background-color: #cea135;
	color: #202124;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	width: 175px;
	padding: 10px;
	text-align: center;
}

.squares-wrapper {
	display: flex;
	justify-content: center;
}

.squares-wrapper > .squares {
	width: 1000px;
}

.squares-wrapper > .squares > .square {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: -4px;
}

.square > .img-wrapper img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.square > .square-text-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 42px;
}

.square > .square-text-wrapper h1 {
	color: #cea135;
}



.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #202124;
	min-width: 110px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown:hover .dropdown-content {
	display: grid;
}

div.quote-box {
	border-left:none
} 
.quoteblock-title {
    display: none;
	justify-content: space-between;
}
.quoteblock-title > .quoteblock-buttons {
	padding: 40px;
	display: none;
} 
.quoteblock-title > .quoteblock-buttons > a {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}
.quoteblock-title > .quoteblock-buttons > a.previousButton {
	background-color: #cea135;
	color: #ddd;
}
.quoteblock-title > .quoteblock-buttons > a.nextButton {
	background-color: #cea135;
	color: #ddd;

}
.quoteblock-title > .quoteblock-buttons > a.round {
	border-radius: 20%;
}
.quoteblock-title > .quoteblock-buttons a:hover {
	background-color: #ddd;
	color: black;
	/*transition: 0.3s;*/
} 

.quote-badge{
	background-color: rgba(0, 0, 0, 0.2);   
}



.quoteblock-title > .customers-avaliation {
	margin-top: 50px;
	background-color: #cea135;
	margin-left: 38px;
	width: 23%;
	max-height: 25%;
	border-radius: 12px;
	padding: 25px;
	text-align: center;
}

	.quoteblock-title > .customers-avaliation p{
		font-family: 'Roboto Slab', serif;
		font-size: 15px;
	}
	
	/**************************************************************/

	blockquote{
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 10px;
		margin-inline-end: 10px;
	}

